# Data and numeric libraries
numpy<2
pandas>=2.0,<2.1
scipy>=1.10,<1.11
scikit-learn==1.7.2

# PyTorch
torch>=2.0,<3.0
torchvision>=0.15,<0.16  # optional if you don’t need vision modules

# Web and API
flask>=2.3,<3.0
waitress>=2.1

# Kaggle data
kagglehub>=0.2,<0.3

gunicorn>=21.0,<22.0


